<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page page-back">
        <div>Think you want to try skating too? The MIT Figure Skating Club is open to all MIT community members over the age of 18. Join us on Saturday mornings for group lessons (absolute beginners welcome!) We have ice time for practice every day of the week. To find out more please visit our website at web.mit.edu/skatingclub</div>
    </div>
    <div class="page page-front">
        <img class="logo" src="fsclogo.png" alt="logo"/>
        <div>Spring Exhibition</div>
        <div>March 17, 2024</div>
    </div>
    <div class="page page-inside">
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater, Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
                <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
                <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
                <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
        <div class="start">
            <div class="title">Program Name</div>
            <div class="skaters">Alice Skater, Bob Skater</div>
            <div class="credits">Choreographed by Foo Bar</div>
        </div>
    </div>
</body>
</html>
