body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.page {
    padding-left: 0.3in;
    padding-right: 0.3in;
}

.page + .page {
    page-break-before: always;
}

.page-front {
    text-align: center;
    font-size: 36pt;
    padding-top: 2in;
    padding-bottom: 2in;
}

.page-back {
    font-size: 16pt;
}

.start {
    page-break-inside: avoid;
    text-align: center;
}

.start + .start {
    padding-top: 0.18in;
}

.title {
    font-size: 16pt;
    font-weight: bold;
}

.skaters {
    font-size: 14pt;
}

.credits {
    font-size: 14pt;
    font-style: italic;
}

.logo {
    width: 5in;
    padding-top: 1in;
    padding-bottom: 1in;
}