<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
    <link rel="stylesheet" href="../templates/program/style.css">
</head>
<body>
    <div class="page page-back">
        <div>Think you want to try skating too? The MIT Figure Skating Club is open to all MIT community members over the age of 18. Join us on Saturday mornings for group lessons (absolute beginners welcome!) We have ice time for practice every day of the week. To find out more please visit our website at web.mit.edu/skatingclub</div>
    </div>
    <div class="page page-front">
        <img class="logo" src="../templates/program/fsclogo.png" alt="logo"/>
        <!-- Title -->
    </div>
    <div class="page page-inside">
        <!-- Starts -->
    </div>
</body>
</html>
